# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\git_clones\JPA excode Clone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
